@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/maison-neue-light.eot');
  src: url('fonts/maison-neue-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/maison-neue-light.woff') format('woff'),
       url('fonts/maison-neue-light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/maison-neue-medium.eot');
  src: url('fonts/maison-neue-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/maison-neue-medium.woff') format('woff'),
       url('fonts/maison-neue-medium.ttf') format('truetype');
  font-weight: 500;
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Maison Neue", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.3333333333333;
  letter-spacing: -0.3;
}

@media all and (max-width: 639px) {
  body {
    padding: 40px;
    font-size: 20px;
    line-height: 1.5;
  }
}

p {
  max-width: 560px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  float: left;
  margin-right: 16px;
}

@media all and (max-width: 639px) {
  li {
    margin-right: 12px;
  }
}

strong {
  font-weight: 500;
}

article {
  width: 100%;
  align-self: flex-end;
  -webkit-animation: fadeIn 1.5s both 0.5s;
     -moz-animation: fadeIn 1.5s both 0.5s;
       -o-animation: fadeIn 1.5s both 0.5s;
          animation: fadeIn 1.5s both 0.5s;
}

footer {
  width: 100%;
  align-self: flex-end;
  font-size: 12px;
  line-height: 1.1666666667;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25;
  -webkit-animation: fadeIn 1.25s both 1s;
     -moz-animation: fadeIn 1.25s both 1s;
       -o-animation: fadeIn 1.25s both 1s;
          animation: fadeIn 1.25s both 1s;
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}

a:hover {
  border-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
